In [255]:
import pandas as pd
import sys
print(sys.version)
print('pandas version', pd.__version__)

pd.set_option('display.max_columns', 200)

3.13.2 (main, Feb  4 2025, 14:51:09) [Clang 16.0.0 (clang-1600.0.26.6)]
pandas version 2.2.3

# I/O (Reading and Writing)

In [ ]:
df = pd.read_parquet('./data/flights.parquet')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
# df.to_csv('flights.csv', index=False)

In [6]:
df.head()
# df.sample(frac=0.1)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,1547.0,0.0,57.0,90.0,77.0,376.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4296,C5,20445,C5,N11184,4296,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11973,1197302,31973,"Gulfport/Biloxi, MS",MS,28,Mississippi,53,0.0,-1.0,1400-1459,16.0,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [7]:
df.shape
df.index

Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
       590532, 590533, 590534, 590535, 590536, 590537, 590538, 590539, 590540,
       590541],
      dtype='int64', length=4078318)

In [8]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 4078318 entries, 0 to 590541
Columns: 61 entries, FlightDate to DivAirportLandings
dtypes: bool(2), datetime64[us](1), float64(18), int64(23), object(17)
memory usage: 1.8+ GB

In [9]:
# df.describe()
df[['Airline', 'Origin']].describe()

                       Airline   Origin
count                  4078318  4078318
unique                      21      375
top     Southwest Airlines Co.      ATL
freq                    731925   183697

In [10]:
df.shape, len(df)

((4078318, 61), 4078318)

# Subsetting a data frame

In [11]:
df[df.columns[:5]]

,FlightDate,Airline,Origin,Dest,Cancelled
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False
...,...,...,...,...,...
590537,2022-03-31,Republic Airlines,MSY,EWR,False
590538,2022-03-17,Republic Airlines,CLT,EWR,True
590539,2022-03-08,Republic Airlines,ALB,ORD,False
590540,2022-03-25,Republic Airlines,EWR,PIT,False
590541,2022-03-07,Republic Airlines,EWR,RDU,False

In [15]:
df[[c for c in df.columns if 'Time' in c]]

,CRSDepTime,DepTime,ArrTime,AirTime,CRSElapsedTime,ActualElapsedTime,DepTimeBlk,CRSArrTime,ArrTimeBlk
0,1133,1123.0,1228.0,40.0,72.0,65.0,1100-1159,1245,1200-1259
1,732,728.0,848.0,55.0,77.0,80.0,0700-0759,849,0800-0859
2,1529,1514.0,1636.0,47.0,70.0,82.0,1500-1559,1639,1600-1659
3,1435,1430.0,1547.0,57.0,90.0,77.0,1400-1459,1605,1600-1659
4,1135,1135.0,1251.0,49.0,70.0,76.0,1100-1159,1245,1200-1259
...,...,...,...,...,...,...,...,...,...
590537,1949,2014.0,234.0,NaN,185.0,NaN,1900-1959,2354,2300-2359
590538,1733,1817.0,NaN,NaN,129.0,NaN,1700-1759,1942,1900-1959
590539,1700,2318.0,59.0,135.0,158.0,161.0,1700-1759,1838,1800-1859
590540,2129,2322.0,939.0,NaN,86.0,NaN,2100-2159,2255,2200-2259
590541,1154,1148.0,1556.0,NaN,99.0,NaN,1100-1159,1333,1300-1359

# Filtering Rows

`df.loc[]` - uses names\
`df.iloc[]` - index location

In [37]:
test_df = pd.DataFrame([(1, 'Ram'), (2, 'Sita'), (1, 'Hari')], columns=('sn', 'name'))
test_df.set_index('sn', inplace=True)

type(test_df.loc[1]) # Returns DataFrame
type(test_df.loc[2]) # Returns Series

# When locating with index, if there is exactly one row with the index, it returns a Series.
# If there are multiple rows with the given index, it returns a dataframe.
# But in case of iloc, even if there are multiple rows with the given index, it returns a Series with the first matched row.

pandas.core.series.Series

In [73]:
df.loc[:, 'DepTime']
# df['DepTime']

0         1123.0
1          728.0
2         1514.0
3         1430.0
4         1135.0
           ...
590537    2014.0
590538    1817.0
590539    2318.0
590540    2322.0
590541    1148.0
Name: DepTime, Length: 4078318, dtype: float64

In [64]:
df.iloc[5] # Returns series
df.iloc[[5, 6, 7]] # Returns data frame

df.iloc[:,1] # Returns series
df.iloc[:,[1, 2, 3]] # Returns data frame

                                          Airline Origin Dest
0       Commutair Aka Champlain Enterprises, Inc.    GJT  DEN
1       Commutair Aka Champlain Enterprises, Inc.    HRL  IAH
2       Commutair Aka Champlain Enterprises, Inc.    DRO  DEN
3       Commutair Aka Champlain Enterprises, Inc.    IAH  GPT
4       Commutair Aka Champlain Enterprises, Inc.    DRO  DEN
...                                           ...    ...  ...
590537                          Republic Airlines    MSY  EWR
590538                          Republic Airlines    CLT  EWR
590539                          Republic Airlines    ALB  ORD
590540                          Republic Airlines    EWR  PIT
590541                          Republic Airlines    EWR  RDU

[4078318 rows x 3 columns]

In [77]:
# Boolean Expressions
df.loc[(df['Airline'] == 'Spirit Air Lines')]

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
407040,2022-04-01,Spirit Air Lines,FLL,ORD,True,False,2025,NaN,NaN,NaN,NaN,NaN,NaN,193.0,NaN,1182.0,2022,2,4,1,5,NK,NK,20416,NK,1,NK,20416,NK,N669NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,NaN,NaN,2000-2059,NaN,NaN,NaN,NaN,2238,NaN,NaN,NaN,2200-2259,5,0
407041,2022-04-02,Spirit Air Lines,FLL,ORD,True,False,2147,NaN,NaN,NaN,NaN,NaN,NaN,192.0,NaN,1182.0,2022,2,4,2,6,NK,NK,20416,NK,1,NK,20416,NK,N680NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,NaN,NaN,2100-2159,NaN,NaN,NaN,NaN,2359,NaN,NaN,NaN,2300-2359,5,0
407042,2022-04-03,Spirit Air Lines,FLL,ORD,False,False,2147,211.0,264.0,264.0,421.0,262.0,163.0,192.0,190.0,1182.0,2022,2,4,3,7,NK,NK,20416,NK,1,NK,20416,NK,N661NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,12.0,2100-2159,18.0,229.0,412.0,9.0,2359,262.0,1.0,12.0,2300-2359,5,0
407043,2022-04-04,Spirit Air Lines,FLL,ORD,False,False,2147,2227.0,40.0,40.0,39.0,40.0,157.0,192.0,192.0,1182.0,2022,2,4,4,1,NK,NK,20416,NK,1,NK,20416,NK,N680NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,2.0,2100-2159,25.0,2252.0,29.0,10.0,2359,40.0,1.0,2.0,2300-2359,5,0
407044,2022-04-05,Spirit Air Lines,FLL,ORD,False,False,2200,2252.0,52.0,52.0,58.0,46.0,164.0,192.0,186.0,1182.0,2022,2,4,5,2,NK,NK,20416,NK,1,NK,20416,NK,N681NK,1,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,3.0,2200-2259,13.0,2305.0,49.0,9.0,12,46.0,1.0,3.0,0001-0559,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142478,2022-03-27,Spirit Air Lines,EWR,LAS,False,False,1700,1705.0,5.0,5.0,2019.0,58.0,297.0,321.0,374.0,2227.0,2022,1,3,27,7,NK,NK,20416,NK,993,NK,20416,NK,N693NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,0.0,0.0,1700-1759,69.0,1814.0,2011.0,8.0,1921,58.0,1.0,3.0,1900-1959,9,0
142479,2022-03-28,Spirit Air Lines,EWR,LAS,False,False,1700,1802.0,62.0,62.0,2043.0,82.0,312.0,321.0,341.0,2227.0,2022,1,3,28,1,NK,NK,20416,NK,993,NK,20416,NK,N641NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,1.0,4.0,1700-1759,24.0,1826.0,2038.0,5.0,1921,82.0,1.0,5.0,1900-1959,9,0
142480,2022-03-29,Spirit Air Lines,EWR,LAS,False,False,1700,1654.0,0.0,-6.0,1912.0,0.0,300.0,321.0,318.0,2227.0,2022,1,3,29,2,NK,NK,20416,NK,993,NK,20416,NK,N623NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,0.0,-1.0,1700-1759,11.0,1705.0,1905.0,7.0,1921,-9.0,0.0,-1.0,1900-1959,9,0
142481,2022-03-30,Spirit Air Lines,EWR,LAS,False,False,1700,1709.0,9.0,9.0,2004.0,43.0,296.0,321.0,355.0,2227.0,2022,1,3,30,3,NK,NK,20416,NK,993,NK,20416,NK,N645NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,0.0,0.0,1700-1759,52.0,1801.0,1957.0,7.0,1921,43.0,1.0,2.0,1900-1959,9,0
142482,2022-03-31,Spirit Air Lines,EWR,LAS,True,False,1700,1804.0,64.0,64.0,NaN,NaN,NaN,321.0,NaN,2227.0,2022,1,3,31,4,NK,NK,20416,NK,993,NK,20416,NK,N650NK,993,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,1.0,4.0,1700-1759,NaN,NaN,NaN,NaN,1921,NaN,NaN,NaN,1900-1959,9,0

In [84]:
min_time = 1130

df.query('DepTime > @min_time and Origin == "DRO"')
# df.query(f'DepTime > {min_time} and Origin == "DRO"')

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0
531,2022-04-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1524.0,0.0,-5.0,1633.0,0.0,50.0,70.0,69.0,251.0,2022,2,4,3,7,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N11191,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,9.0,1533.0,1623.0,10.0,1639,-6.0,0.0,-1.0,1600-1659,2,0
533,2022-04-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1134.0,0.0,-1.0,1247.0,2.0,43.0,70.0,73.0,251.0,2022,2,4,3,7,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N31131,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,19.0,1153.0,1236.0,11.0,1245,2.0,0.0,0.0,1200-1259,2,0
1003,2022-04-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1644.0,75.0,75.0,1757.0,78.0,46.0,70.0,73.0,251.0,2022,2,4,2,6,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N16151,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,1.0,5.0,1500-1559,15.0,1659.0,1745.0,12.0,1639,78.0,1.0,5.0,1600-1659,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445339,2022-03-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1521.0,0.0,-9.0,1645.0,5.0,50.0,70.0,84.0,251.0,2022,1,3,3,4,UA,UA_CODESHARE,19977,UA,4292,C5,20445,C5,N12163,4292,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,27.0,1548.0,1638.0,7.0,1640,5.0,0.0,0.0,1600-1659,2,0
445977,2022-03-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1531.0,1.0,1.0,1651.0,11.0,50.0,70.0,80.0,251.0,2022,1,3,2,3,UA,UA_CODESHARE,19977,UA,4292,C5,20445,C5,N33182,4292,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1500-1559,19.0,1550.0,1640.0,11.0,1640,11.0,0.0,0.0,1600-1659,2,0
445986,2022-03-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1142.0,7.0,7.0,1245.0,0.0,46.0,70.0,63.0,251.0,2022,1,3,2,3,UA,UA_CODESHARE,19977,UA,4281,C5,20445,C5,N33182,4281,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,11.0,1153.0,1239.0,6.0,1245,0.0,0.0,0.0,1200-1259,2,0
446617,2022-03-01,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1741.0,131.0,131.0,1909.0,149.0,52.0,70.0,88.0,251.0,2022,1,3,1,2,UA,UA_CODESHARE,19977,UA,4292,C5,20445,C5,N16178,4292,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,1.0,8.0,1500-1559,25.0,1806.0,1858.0,11.0,1640,149.0,1.0,9.0,1600-1659,2,0
446626,2022-03-01,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1419.0,164.0,164.0,1523.0,158.0,46.0,70.0,64.0,251.0,2022,1,3,1,2,UA,UA_CODESHARE,19977,UA,4281,C5,20445,C5,N14174,4281,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,1.0,10.0,1100-1159,11.0,1430.0,1516.0,7.0,1245,158.0,1.0,10.0,1200-1259,2,0

# Summarizing data

In [85]:
df['DepTime'].min()

np.float64(1.0)

In [86]:
df['DepTime'].max()

np.float64(2400.0)

In [87]:
df['DepTime'].count()

np.int64(3957885)

In [88]:
df['DepTime'].std()

np.float64(505.62193314209236)

In [89]:
df['DepTime'].var()

np.float64(255653.53927434652)

In [90]:
df['DepTime'].median()

np.float64(1325.0)

In [91]:
df['DepTime'].mean()

np.float64(1334.3739312789533)

In [93]:
df['DepTime'].sum()

np.float64(5281298567.0)

In [95]:
df['DepTime'].quantile([0.25, 0.75]) # Divides sorted data into equal parts

0.25     917.0
0.75    1744.0
Name: DepTime, dtype: float64

In [97]:
df[['DepTime', 'DepDelay']].min() # Returns series with index as the column name and value as the result

type(df[['DepTime', 'DepDelay']].min())

pandas.core.series.Series

In [100]:
df[['DepTime', 'DepDelay']].agg(['mean', 'median', 'max']) # Returns data frame with each row having a stat for each column

            DepTime     DepDelay
mean    1334.373931    13.090487
median  1325.000000    -2.000000
max     2400.000000  7223.000000

In [103]:
df[['DepTime', 'DepDelay']].agg(
    {
        'DepTime': ['mean', 'median', 'max'],
        'DepDelay': ['mean', 'median']
    }
)

            DepTime   DepDelay
mean    1334.373931  13.090487
median  1325.000000  -2.000000
max     2400.000000        NaN

In [113]:
pd.Series([1,2,3,4,5]).sum()

np.int64(15)

In [114]:
df['Airline'].unique()

array(['Commutair Aka Champlain Enterprises, Inc.',
       'GoJet Airlines, LLC d/b/a United Express',
       'Air Wisconsin Airlines Corp', 'Mesa Airlines Inc.',
       'Southwest Airlines Co.', 'Republic Airlines', 'Endeavor Air Inc.',
       'American Airlines Inc.', 'Capital Cargo International',
       'SkyWest Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways',
       'Delta Air Lines Inc.', 'Frontier Airlines Inc.', 'Allegiant Air',
       'Hawaiian Airlines Inc.', 'Envoy Air', 'Spirit Air Lines',
       'Comair Inc.', 'Horizon Air', 'United Air Lines Inc.'],
      dtype=object)

In [115]:
df['Airline'].nunique()

21

In [116]:
df['Airline'].value_counts()

Airline
Southwest Airlines Co.                       731925
Delta Air Lines Inc.                         512114
American Airlines Inc.                       495953
SkyWest Airlines Inc.                        440807
United Air Lines Inc.                        352009
Republic Airlines                            197881
JetBlue Airways                              156793
Envoy Air                                    150758
Endeavor Air Inc.                            142624
Comair Inc.                                  135884
Alaska Airlines Inc.                         129510
Spirit Air Lines                             129208
Frontier Airlines Inc.                        86557
Allegiant Air                                 73504
Mesa Airlines Inc.                            71972
Horizon Air                                   56320
Capital Cargo International                   52827
Commutair Aka Champlain Enterprises, Inc.     44367
Hawaiian Airlines Inc.                        42212
Air Wisconsin Airlines Corp                   40300
GoJet Airlines, LLC d/b/a United Express      34793
Name: count, dtype: int64

In [121]:
df[['Airline', 'Origin']].value_counts() # gives a multi indexed series

Airline                                    Origin
Delta Air Lines Inc.                       ATL       120919
American Airlines Inc.                     DFW        81239
                                           CLT        57914
United Air Lines Inc.                      DEN        46489
Southwest Airlines Co.                     DEN        45398
                                                      ...
Frontier Airlines Inc.                     ICT            1
Mesa Airlines Inc.                         MDT            1
Air Wisconsin Airlines Corp                FWA            1
Commutair Aka Champlain Enterprises, Inc.  DSM            1
GoJet Airlines, LLC d/b/a United Express   MKE            1
Name: count, Length: 2194, dtype: int64

In [122]:
df[['Airline', 'Origin']].value_counts().reset_index()

                                        Airline Origin   count
0                          Delta Air Lines Inc.    ATL  120919
1                        American Airlines Inc.    DFW   81239
2                        American Airlines Inc.    CLT   57914
3                         United Air Lines Inc.    DEN   46489
4                        Southwest Airlines Co.    DEN   45398
...                                         ...    ...     ...
2189                     Frontier Airlines Inc.    ICT       1
2190                         Mesa Airlines Inc.    MDT       1
2191                Air Wisconsin Airlines Corp    FWA       1
2192  Commutair Aka Champlain Enterprises, Inc.    DSM       1
2193   GoJet Airlines, LLC d/b/a United Express    MKE       1

[2194 rows x 3 columns]

# Advanced Column Methods

In [130]:
df[['CRSDepTime']].rank()

# df[['CRSDepTime']]

        CRSDepTime
0        1607887.5
1         595750.5
2        2549367.0
3        2344374.5
4        1615667.5
...            ...
590537   3576231.5
590538   3053676.0
590539   2916510.0
590540   3877928.5
590541   1678988.0

[4078318 rows x 1 columns]

In [135]:
df['CRSDepTime'].shift(5)

df[['CRSDepTime']].shift(-5, fill_value=0)

        CRSDepTime
0              955
1             2139
2             1129
3             1424
4              954
...            ...
590537           0
590538           0
590539           0
590540           0
590541           0

[4078318 rows x 1 columns]

In [140]:
df[['CRSDepTime']].cumsum()

df['CRSDepTime']

0         1133
1          732
2         1529
3         1435
4         1135
          ...
590537    1949
590538    1733
590539    1700
590540    2129
590541    1154
Name: CRSDepTime, Length: 4078318, dtype: int64

In [139]:
df[['CRSDepTime']].cummax()

        CRSDepTime
0             1133
1             1133
2             1529
3             1529
4             1529
...            ...
590537        2359
590538        2359
590539        2359
590540        2359
590541        2359

[4078318 rows x 1 columns]

In [141]:
df[['CRSDepTime']].cummin()

        CRSDepTime
0             1133
1              732
2              732
3              732
4              732
...            ...
590537           1
590538           1
590539           1
590540           1
590541           1

[4078318 rows x 1 columns]

# Rolling Methods

the `.rolling()` method in pandas is a powerful tool for performing calculations over a moving window of fixed size. It's often used in time series analysis but works on any numeric sequence.

`df['column'].rolling(window=N).<aggregation>()`


`window=N`: Number of observations to include in each rolling window.

`<aggregation>`: Any function like `.mean()`, `.sum()`, `.max()`, `.std()`, etc.

In [148]:
new_df = df[['DepTime']]

new_df.assign(
    rolled_DepTime=df['DepTime'].rolling(window=3).mean()
)

        DepTime  rolled_DepTime
0        1123.0             NaN
1         728.0             NaN
2        1514.0     1121.666667
3        1430.0     1224.000000
4        1135.0     1359.666667
...         ...             ...
590537   2014.0     2118.666667
590538   1817.0     2046.666667
590539   2318.0     2049.666667
590540   2322.0     2152.333333
590541   1148.0     1929.333333

[4078318 rows x 2 columns]

In [152]:
df[['DepTime']].clip(1000,2000)

        DepTime
0        1123.0
1        1000.0
2        1514.0
3        1430.0
4        1135.0
...         ...
590537   2000.0
590538   1817.0
590539   2000.0
590540   2000.0
590541   1148.0

[4078318 rows x 1 columns]

# Groupby Methods

In [243]:
df_grouped = df.groupby('Airline')[['DepDelay', 'DepTime']].agg({
    'DepDelay': ['min','max'],
    'DepTime': ['min', 'max']
}).reset_index()

# DepDelay_grouped = df_grouped['DepDelay'] # is a Dataframe

# DepDelay_grouped['min'] # is a Series

df_grouped.columns = ['_'.join(c) for c in df_grouped.columns]

df_grouped

,Airline_,DepDelay_min,DepDelay_max,DepTime_min,DepTime_max
0,Air Wisconsin Airlines Corp,-30.0,1355.0,3.0,2356.0
1,Alaska Airlines Inc.,-63.0,915.0,1.0,2400.0
2,Allegiant Air,-37.0,1917.0,1.0,2400.0
3,American Airlines Inc.,-35.0,2994.0,1.0,2400.0
4,Capital Cargo International,-34.0,1512.0,1.0,2400.0
5,Comair Inc.,-49.0,1607.0,1.0,2400.0
6,"Commutair Aka Champlain Enterprises, Inc.",-27.0,1464.0,1.0,2358.0
7,Delta Air Lines Inc.,-38.0,1287.0,1.0,2400.0
8,Endeavor Air Inc.,-34.0,1973.0,1.0,2400.0
9,Envoy Air,-29.0,5327.0,1.0,2400.0
10,Frontier Airlines Inc.,-40.0,1288.0,1.0,2400.0
11,"GoJet Airlines, LLC d/b/a United Express",-43.0,1220.0,1.0,2358.0
12,Hawaiian Airlines Inc.,-32.0,1847.0,6.0,2359.0
13,Horizon Air,-38.0,803.0,1.0,2400.0
14,JetBlue Airways,-56.0,2052.0,1.0,2400.0
15,Mesa Airlines Inc.,-35.0,1837.0,1.0,2400.0
16,Republic Airlines,-55.0,7223.0,1.0,2400.0
17,SkyWest Airlines Inc.,-55.0,2366.0,1.0,2400.0
18,Southwest Airlines Co.,-52.0,747.0,1.0,2400.0
19,Spirit Air Lines,-39.0,1436.0,1.0,2400.0
20,United Air Lines Inc.,-78.0,1520.0,1.0,2359.0

# New Columns

In [197]:
df['DepTime_in_hour'] = df['DepTime'] / 60

# df.assign(DepTime_in_hour = df['DepTime']/100)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,DepTime_in_hour
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0,18.716667
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0,12.133333
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0,25.233333
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,1547.0,0.0,57.0,90.0,77.0,376.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4296,C5,20445,C5,N11184,4296,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11973,1197302,31973,"Gulfport/Biloxi, MS",MS,28,Mississippi,53,0.0,-1.0,1400-1459,16.0,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0,23.833333
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0,18.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590537,2022-03-31,Republic Airlines,MSY,EWR,False,True,1949,2014.0,25.0,25.0,234.0,NaN,NaN,185.0,NaN,1167.0,2022,1,3,31,4,UA,UA_CODESHARE,19977,UA,3621,YX,20452,YX,N745YX,3621,13495,1349505,33495,"New Orleans, LA",LA,22,Louisiana,72,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,1.0,1900-1959,17.0,2031.0,202.0,32.0,2354,NaN,NaN,NaN,2300-2359,5,1,33.566667
590538,2022-03-17,Republic Airlines,CLT,EWR,True,False,1733,1817.0,44.0,44.0,NaN,NaN,NaN,129.0,NaN,529.0,2022,1,3,17,4,UA,UA_CODESHARE,19977,UA,3437,YX,20452,YX,N654RW,3437,11057,1105703,31057,"Charlotte, NC",NC,37,North Carolina,36,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,2.0,1700-1759,NaN,NaN,NaN,NaN,1942,NaN,NaN,NaN,1900-1959,3,0,30.283333
590539,2022-03-08,Republic Airlines,ALB,ORD,False,False,1700,2318.0,378.0,378.0,59.0,381.0,135.0,158.0,161.0,723.0,2022,1,3,8,2,UA,UA_CODESHARE,19977,UA,3413,YX,20452,YX,N733YX,3413,10257,1025702,30257,"Albany, NY",NY,36,New York,22,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,12.0,1700-1759,19.0,2337.0,52.0,7.0,1838,381.0,1.0,12.0,1800-1859,3,0,38.633333
590540,2022-03-25,Republic Airlines,EWR,PIT,False,True,2129,2322.0,113.0,113.0,939.0,NaN,NaN,86.0,NaN,319.0,2022,1,3,25,5,UA,UA_CODESHARE,19977,UA,3450,YX,20452,YX,N647RW,3450,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14122,1412202,30198,"Pittsburgh, PA",PA,42,Pennsylvania,23,1.0,7.0,2100-2159,25.0,2347.0,933.0,6.0,2255,NaN,NaN,NaN,2200-2259,2,1,38.700000
590541,2022-03-07,Republic Airlines,EWR,RDU,False,True,1154,1148.0,0.0,-6.0,1556.0,NaN,NaN,99.0,NaN,416.0,2022,1,3,7,1,UA,UA_CODESHARE,19977,UA,3585,YX,20452,YX,N648RW,3585,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14492,1449202,34492,"Raleigh/Durham, NC",NC,37,North Carolina,36,0.0,-1.0,1100-1159,13.0,1201.0,1552.0,4.0,1333,NaN,NaN,NaN,1300-1359,2,1,19.133333

In [204]:
df[['FlightDate','Airline','ArrDelay']].sort_values('ArrDelay', ascending=False).reset_index(drop=True)

        FlightDate                 Airline  ArrDelay
0       2022-05-23       Republic Airlines    7232.0
1       2022-06-18               Envoy Air    5324.0
2       2022-05-16       Republic Airlines    4318.0
3       2022-06-05  American Airlines Inc.    2977.0
4       2022-03-26  American Airlines Inc.    2934.0
...            ...                     ...       ...
4078313 2022-03-31       Republic Airlines       NaN
4078314 2022-03-31       Republic Airlines       NaN
4078315 2022-03-17       Republic Airlines       NaN
4078316 2022-03-25       Republic Airlines       NaN
4078317 2022-03-07       Republic Airlines       NaN

[4078318 rows x 3 columns]

In [205]:
df[['FlightDate','Airline','ArrDelay']].sort_index()

       FlightDate                                    Airline  ArrDelay
0      2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -17.0
0      2022-05-03                                Comair Inc.       1.0
0      2022-01-06                       Delta Air Lines Inc.       NaN
0      2022-07-19                                Comair Inc.     -29.0
0      2022-03-08                       Delta Air Lines Inc.     -14.0
...           ...                                        ...       ...
618785 2022-07-01                          Republic Airlines      18.0
618786 2022-07-01                          Republic Airlines     -25.0
618787 2022-07-01                          Republic Airlines      20.0
618788 2022-07-01                          Republic Airlines      43.0
618789 2022-07-01                          Republic Airlines     183.0

[4078318 rows x 3 columns]

# Handling missing data

In [210]:
df[['FlightDate', 'Airline', 'ArrDelay']].isna().sum()

FlightDate         0
Airline            0
ArrDelay      133402
dtype: int64

In [212]:
df[['FlightDate', 'Airline', 'ArrDelay']].dropna(subset=['ArrDelay'])

       FlightDate                                    Airline  ArrDelay
0      2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -17.0
1      2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -1.0
2      2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -3.0
3      2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -18.0
4      2022-04-04  Commutair Aka Champlain Enterprises, Inc.       6.0
...           ...                                        ...       ...
590532 2022-03-31                          Republic Airlines     207.0
590533 2022-03-31                          Republic Airlines     201.0
590534 2022-03-31                          Republic Airlines     180.0
590536 2022-03-19                          Republic Airlines     135.0
590539 2022-03-08                          Republic Airlines     381.0

[3944916 rows x 3 columns]

In [213]:
df[['FlightDate', 'Airline', 'ArrDelay']].fillna(0)

       FlightDate                                    Airline  ArrDelay
0      2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -17.0
1      2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -1.0
2      2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -3.0
3      2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -18.0
4      2022-04-04  Commutair Aka Champlain Enterprises, Inc.       6.0
...           ...                                        ...       ...
590537 2022-03-31                          Republic Airlines       0.0
590538 2022-03-17                          Republic Airlines       0.0
590539 2022-03-08                          Republic Airlines     381.0
590540 2022-03-25                          Republic Airlines       0.0
590541 2022-03-07                          Republic Airlines       0.0

[4078318 rows x 3 columns]

In [214]:
df['ArrDelay'].fillna(df['ArrDelay'].mean())

0         -17.000000
1          -1.000000
2          -3.000000
3         -18.000000
4           6.000000
             ...
590537      7.528486
590538      7.528486
590539    381.000000
590540      7.528486
590541      7.528486
Name: ArrDelay, Length: 4078318, dtype: float64

# Combining Data

In [215]:
df1 = df.query('Airline == "Southwest Airlines Co."').copy()
df2 = df.query('Airline == "Delta Air Lines Inc."').copy()

In [217]:
df_stack = pd.concat([df1, df2], axis=0)

df_stack

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,DepTime_in_hour
1821,2022-04-01,Southwest Airlines Co.,ABQ,AUS,False,False,1035,1037.0,2.0,2.0,1303.0,0.0,75.0,100.0,86.0,619.0,2022,2,4,1,5,WN,WN,19393,WN,236,WN,19393,WN,N232WN,236,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,10423,1042302,30423,"Austin, TX",TX,48,Texas,74,0.0,0.0,1000-1059,8.0,1045.0,1300.0,3.0,1315,-12.0,0.0,-1.0,1300-1359,3,0,17.283333
1822,2022-04-01,Southwest Airlines Co.,ABQ,BUR,False,False,1750,1823.0,33.0,33.0,1914.0,24.0,96.0,120.0,111.0,672.0,2022,2,4,1,5,WN,WN,19393,WN,1238,WN,19393,WN,N248WN,1238,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,10800,1080003,32575,"Burbank, CA",CA,6,California,91,1.0,2.0,1700-1759,13.0,1836.0,1912.0,2.0,1850,24.0,1.0,1.0,1800-1859,3,0,30.383333
1823,2022-04-01,Southwest Airlines Co.,ABQ,DAL,False,False,645,648.0,3.0,3.0,922.0,0.0,79.0,105.0,94.0,580.0,2022,2,4,1,5,WN,WN,19393,WN,100,WN,19393,WN,N206WN,100,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,11259,1125904,30194,"Dallas, TX",TX,48,Texas,74,0.0,0.0,0600-0659,13.0,701.0,920.0,2.0,930,-8.0,0.0,-1.0,0900-0959,3,0,10.800000
1824,2022-04-01,Southwest Airlines Co.,ABQ,DAL,False,False,1150,1146.0,0.0,-4.0,1439.0,4.0,76.0,105.0,113.0,580.0,2022,2,4,1,5,WN,WN,19393,WN,869,WN,19393,WN,N8689C,869,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,11259,1125904,30194,"Dallas, TX",TX,48,Texas,74,0.0,-1.0,1100-1159,9.0,1155.0,1411.0,28.0,1435,4.0,0.0,0.0,1400-1459,3,0,19.100000
1825,2022-04-01,Southwest Airlines Co.,ABQ,DAL,False,False,1730,1757.0,27.0,27.0,2042.0,32.0,83.0,100.0,105.0,580.0,2022,2,4,1,5,WN,WN,19393,WN,1256,WN,19393,WN,N774SW,1256,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,11259,1125904,30194,"Dallas, TX",TX,48,Texas,74,1.0,1.0,1700-1759,13.0,1810.0,2033.0,9.0,2010,32.0,1.0,2.0,2000-2059,3,0,29.283333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295256,2022-03-28,Delta Air Lines Inc.,DTW,PWM,False,False,2120,2118.0,0.0,-2.0,2315.0,7.0,90.0,108.0,117.0,668.0,2022,1,3,28,1,DL,DL,19790,DL,470,DL,19790,DL,N369NB,470,11433,1143302,31295,"Detroit, MI",MI,26,Michigan,43,14321,1432105,34321,"Portland, ME",ME,23,Maine,12,0.0,-1.0,2100-2159,10.0,2128.0,2258.0,17.0,2308,7.0,0.0,0.0,2300-2359,3,0,35.300000
295257,2022-03-29,Delta Air Lines Inc.,DTW,PWM,False,False,2120,2116.0,0.0,-4.0,2255.0,0.0,86.0,108.0,99.0,668.0,2022,1,3,29,2,DL,DL,19790,DL,470,DL,19790,DL,N361NB,470,11433,1143302,31295,"Detroit, MI",MI,26,Michigan,43,14321,1432105,34321,"Portland, ME",ME,23,Maine,12,0.0,-1.0,2100-2159,10.0,2126.0,2252.0,3.0,2308,-13.0,0.0,-1.0,2300-2359,3,0,35.266667
295258,2022-03-30,Delta Air Lines Inc.,DTW,PWM,False,False,2120,2108.0,0.0,-12.0,2246.0,0.0,81.0,108.0,98.0,668.0,2022,1,3,30,3,DL,DL,19790,DL,470,DL,19790,DL,N315NB,470,11433,1143302,31295,"Detroit, MI",MI,26,Michigan,43,14321,1432105,34321,"Portland, ME",ME,23,Maine,12,0.0,-1.0,2100-2159,14.0,2122.0,2243.0,3.0,2308,-22.0,0.0,-2.0,2300-2359,3,0,35.133333
295259,2022-03-31,Delta Air Lines Inc.,DTW,PWM,False,False,2120,2142.0,22.0,22.0,2325.0,17.0,85.0,108.0,103.0,668.0,2022,1,3,31,4,DL,DL,19790,DL,470,DL,19790,DL,N354NB,470,11433,1143302,31295,"Detroit, MI",MI,26,Michigan,43,14321,1432105,34321,"Portland, ME",ME,23,Maine,12,1.0,1.0,2100-2159,14.0,2156.0,2321.0,4.0,2308,17.0,1.0,1.0,2300-2359,3,0,35.700000
295260,2022-03-07,Delta Air Lines Inc.,ATL,DTW,False,False,1000,959.0,0.0,-1.0,1144.0,0.0,80.0,110.0,105.0,594.0,2022,1,3,7,1,DL,DL,19790,DL,471,DL,19790,DL,N504DN,471,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,11433,1143302,31295,"Detroit, MI",MI,26,Michigan,43,0.0,-1.0,1000-1059,16.0,1015.0,1135.0,9.0,1150,-6.0,0.0,-1.0,1100-1159,3,0,15.983333

In [221]:
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)

df_side = pd.concat([df1, df2], axis=1)

df_side
# df_side['FlightDate'] # Give a data frame instead of series because there are two columns with the name FlightDate

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,DepTime_in_hour,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,DepTime_in_hour
0,2022-04-01,Southwest Airlines Co.,ABQ,AUS,False,False,1035,1037.0,2.0,2.0,1303.0,0.0,75.0,100.0,86.0,619.0,2022,2,4,1,5,WN,WN,19393,WN,236,WN,19393,WN,N232WN,236,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,10423,1042302,30423,"Austin, TX",TX,48,Texas,74,0.0,0.0,1000-1059,8.0,1045.0,1300.0,3.0,1315,-12.0,0.0,-1.0,1300-1359,3,0,17.283333,2022-04-01,Delta Air Lines Inc.,ATL,DFW,False,False,1925.0,2026.0,61.0,61.0,2159.0,64.0,117.0,150.0,153.0,731.0,2022.0,2.0,4.0,1.0,5.0,DL,DL,19790.0,DL,31.0,DL,19790.0,DL,N340DN,31.0,10397.0,1039707.0,30397.0,"Atlanta, GA",GA,13.0,Georgia,34.0,11298.0,1129806.0,30194.0,"Dallas/Fort Worth, TX",TX,48.0,Texas,74.0,1.0,4.0,1900-1959,32.0,2058.0,2155.0,4.0,2055.0,64.0,1.0,4.0,2000-2059,3.0,0.0,33.766667
1,2022-04-01,Southwest Airlines Co.,ABQ,BUR,False,False,1750,1823.0,33.0,33.0,1914.0,24.0,96.0,120.0,111.0,672.0,2022,2,4,1,5,WN,WN,19393,WN,1238,WN,19393,WN,N248WN,1238,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,10800,1080003,32575,"Burbank, CA",CA,6,California,91,1.0,2.0,1700-1759,13.0,1836.0,1912.0,2.0,1850,24.0,1.0,1.0,1800-1859,3,0,30.383333,2022-04-02,Delta Air Lines Inc.,ATL,DFW,False,False,1830.0,1830.0,0.0,0.0,2003.0,4.0,112.0,149.0,153.0,731.0,2022.0,2.0,4.0,2.0,6.0,DL,DL,19790.0,DL,31.0,DL,19790.0,DL,N396DN,31.0,10397.0,1039707.0,30397.0,"Atlanta, GA",GA,13.0,Georgia,34.0,11298.0,1129806.0,30194.0,"Dallas/Fort Worth, TX",TX,48.0,Texas,74.0,0.0,0.0,1800-1859,25.0,1855.0,1947.0,16.0,1959.0,4.0,0.0,0.0,1900-1959,3.0,0.0,30.500000
2,2022-04-01,Southwest Airlines Co.,ABQ,DAL,False,False,645,648.0,3.0,3.0,922.0,0.0,79.0,105.0,94.0,580.0,2022,2,4,1,5,WN,WN,19393,WN,100,WN,19393,WN,N206WN,100,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,11259,1125904,30194,"Dallas, TX",TX,48,Texas,74,0.0,0.0,0600-0659,13.0,701.0,920.0,2.0,930,-8.0,0.0,-1.0,0900-0959,3,0,10.800000,2022-04-03,Delta Air Lines Inc.,ATL,DFW,False,False,1925.0,1934.0,9.0,9.0,2046.0,0.0,108.0,150.0,132.0,731.0,2022.0,2.0,4.0,3.0,7.0,DL,DL,19790.0,DL,31.0,DL,19790.0,DL,N394DX,31.0,10397.0,1039707.0,30397.0,"Atlanta, GA",GA,13.0,Georgia,34.0,11298.0,1129806.0,30194.0,"Dallas/Fort Worth, TX",TX,48.0,Texas,74.0,0.0,0.0,1900-1959,17.0,1951.0,2039.0,7.0,2055.0,-9.0,0.0,-1.0,2000-2059,3.0,0.0,32.233333
3,2022-04-01,Southwest Airlines Co.,ABQ,DAL,False,False,1150,1146.0,0.0,-4.0,1439.0,4.0,76.0,105.0,113.0,580.0,2022,2,4,1,5,WN,WN,19393,WN,869,WN,19393,WN,N8689C,869,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,11259,1125904,30194,"Dallas, TX",TX,48,Texas,74,0.0,-1.0,1100-1159,9.0,1155.0,1411.0,28.0,1435,4.0,0.0,0.0,1400-1459,3,0,19.100000,2022-04-04,Delta Air Lines Inc.,ATL,DFW,False,False,1925.0,1945.0,20.0,20.0,2056.0,1.0,114.0,150.0,131.0,731.0,2022.0,2.0,4.0,4.0,1.0,DL,DL,19790.0,DL,31.0,DL,19790.0,DL,N127DN,31.0,10397.0,1039707.0,30397.0,"Atlanta, GA",GA,13.0,Georgia,34.0,11298.0,1129806.0,30194.0,"Dallas/Fort Worth, TX",TX,48.0,Texas,74.0,1.0,1.0,1900-1959,12.0,1957.0,2051.0,5.0,2055.0,1.0,0.0,0.0,2000-2059,3.0,0.0,32.416667
4,2022-04-01,Southwest Airlines Co.,ABQ,DAL,False,False,1730,1757.0,27.0,27.0,2042.0,32.0,83.0,100.0,105.0,580.0,2022,2,4,1,5,WN,WN,19393,WN,1256,WN,19393,WN,N774SW,1256,10140,1014005,30140,"Albuquerque, NM",NM,35,New Mexico,86,11259,1125904,30194,"Dallas, TX",TX,48,Texas,74,1.0,1.0,1700-1759,13.0,1810.0,2033.0,9.0,2010,32.0,1.0,2.0,2000-2059,3,0,29.283333,2022-04-05,Delta Air Lines Inc.,ATL,DFW,False,False,1925.0,2001.0,36.0,36.0,2115.0,20.0,111.0,150.0,134.0,731.0,2022.0,2.0,4.0,5.0,2.0,DL,DL,19790.0,DL,31.0,DL,19790.0,DL,N325DN,31.0,10397.0,1039707.0,30397.0,"Atlanta, GA",GA,13.0,Georgia,34.0,11298.0,1129806.0,30194.0,"Dallas/Fort Worth, TX",TX,48.0,Texas,74.0,1.0,2.0,1900-1959,18.0,2019.0,2110.0,5.0,2055.0,20.0,1.0,1.0,2000-2059,3.0,0.0,33.350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731920,2022-03-28,Southwest Airlines Co.,DEN,SLC,False,False,705,730.0,25.0,25.0,848.0,3.0,66.0,100.0,78.0,391.0,2022,1,3,28,1,WN,WN,19393,WN,1167,WN,19393,WN,N8604K,1167,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,14869,1486903,34614,"Salt Lake City, UT",UT,49,Utah,87,1.0,1.0,0700-0759,8.0,738.0,844.0,4.0,845,3.0,0.0,0.0,0800-0859,2,0,12.166667,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731921,2022-03-28,Southwest Airlines Co.,DEN,SLC,False,False,1525,1633.0,68.0,68.0,1803.0,68.0,66.0,90.0,90.0,391.0,2022,1,3,28,1,WN,WN,19393,WN,2305,WN,19393,WN,N8550Q,2305,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,14869,1486903,34614,"Salt Lake City, UT",UT,49,Utah,87,1.0,4.0,1500-1559,20.0,1653.0,1759.0,4.0,1655,68.0,1.0,4.0,1600-1659,2,0,27.216667,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731922,2022-03-28,Southwest Airlines Co.,DEN,SLC,False,False,1230,1235.0,5.0,5.0,1356.0,0.0,66.0,90.0,81.0,391.0,2022,1,3,28,1,WN,WN,19393,WN,2445,WN,19393,WN,N8710M,2445,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,14869,1486903,34614,"Salt Lake City, UT",UT,49,Utah,87,0.0,0.0,1200-1259,12.0,1247.0,1353.0,3.0,1400,-4.0,0.0,-1.0,1400-1459,2,0,20.583333,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731923,2022-03-28,Southwest Airlines Co.,DEN,SLC,True,False,2105,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,391.0,2022,1,3,28,1,WN,WN,19393,WN,3549,WN,19393,WN,N8679A,3549,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,14869,1486903,34614,"Salt Lake City, UT",UT,49,Utah,87,NaN,NaN,2100-2159,NaN,NaN,NaN,NaN,2230,NaN,NaN,NaN,2200-2259,2,0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731924,2022-03-28,Southwest Airlines Co.,DEN,SMF,False,False,650,646.0,0.0,-4.0,811.0,0.0,128.0,165.0,145.0,909.0,2022,1,3,28,1,WN,WN,19393,WN,509,WN,19393,WN,N500WR,509,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,14893,1489302,33192,"Sacramento, CA",CA,6,California,91,0.0,-1.0,0600-0659,14.0,700.0,808.0,3.0,835,-24.0,0.0,-2.0,0800-0859,4,0,10.766667,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
df1.shape, df2.shape, df_stack.shape, df_side.shape

((731925, 62), (512114, 62), (1244039, 62), (731925, 124))

# Merge data

In [248]:
df_DepDelay = df.groupby(['Airline', 'FlightDate'])[['DepDelay']].mean().reset_index()
df_ArrDelay = df.groupby(['Airline', 'FlightDate'])[['ArrDelay']].mean().reset_index()

In [249]:
df_DepDelay.merge(df_ArrDelay)

                          Airline FlightDate   DepDelay   ArrDelay
0     Air Wisconsin Airlines Corp 2022-01-01   8.784810   5.717949
1     Air Wisconsin Airlines Corp 2022-01-02  41.766082  36.641176
2     Air Wisconsin Airlines Corp 2022-01-03  46.183544  36.525316
3     Air Wisconsin Airlines Corp 2022-01-04   6.141304  -5.842391
4     Air Wisconsin Airlines Corp 2022-01-05  20.532967  20.250000
...                           ...        ...        ...        ...
4447        United Air Lines Inc. 2022-07-27  12.064677   4.912778
4448        United Air Lines Inc. 2022-07-28  14.437948   6.640288
4449        United Air Lines Inc. 2022-07-29  11.029185   4.629425
4450        United Air Lines Inc. 2022-07-30   6.192961  -4.716889
4451        United Air Lines Inc. 2022-07-31  12.688534   4.626857

[4452 rows x 4 columns]

In [250]:
pd.merge(df_DepDelay, df_ArrDelay, on = ['Airline', 'FlightDate'])

                          Airline FlightDate   DepDelay   ArrDelay
0     Air Wisconsin Airlines Corp 2022-01-01   8.784810   5.717949
1     Air Wisconsin Airlines Corp 2022-01-02  41.766082  36.641176
2     Air Wisconsin Airlines Corp 2022-01-03  46.183544  36.525316
3     Air Wisconsin Airlines Corp 2022-01-04   6.141304  -5.842391
4     Air Wisconsin Airlines Corp 2022-01-05  20.532967  20.250000
...                           ...        ...        ...        ...
4447        United Air Lines Inc. 2022-07-27  12.064677   4.912778
4448        United Air Lines Inc. 2022-07-28  14.437948   6.640288
4449        United Air Lines Inc. 2022-07-29  11.029185   4.629425
4450        United Air Lines Inc. 2022-07-30   6.192961  -4.716889
4451        United Air Lines Inc. 2022-07-31  12.688534   4.626857

[4452 rows x 4 columns]

In [252]:
pd.merge(df_DepDelay, df_ArrDelay, on = 'Airline', suffixes=('_dep','_arr'))

,Airline,FlightDate_dep,DepDelay,FlightDate_arr,ArrDelay
0,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-01,5.717949
1,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-02,36.641176
2,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-03,36.525316
3,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-04,-5.842391
4,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-05,20.250000
...,...,...,...,...,...
943819,United Air Lines Inc.,2022-07-31,12.688534,2022-07-27,4.912778
943820,United Air Lines Inc.,2022-07-31,12.688534,2022-07-28,6.640288
943821,United Air Lines Inc.,2022-07-31,12.688534,2022-07-29,4.629425
943822,United Air Lines Inc.,2022-07-31,12.688534,2022-07-30,-4.716889
943823,United Air Lines Inc.,2022-07-31,12.688534,2022-07-31,4.626857

In [253]:
# If column names are different

pd.merge(df_DepDelay, df_ArrDelay, left_on='Airline', right_on='Airline')

,Airline,FlightDate_x,DepDelay,FlightDate_y,ArrDelay
0,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-01,5.717949
1,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-02,36.641176
2,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-03,36.525316
3,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-04,-5.842391
4,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-05,20.250000
...,...,...,...,...,...
943819,United Air Lines Inc.,2022-07-31,12.688534,2022-07-27,4.912778
943820,United Air Lines Inc.,2022-07-31,12.688534,2022-07-28,6.640288
943821,United Air Lines Inc.,2022-07-31,12.688534,2022-07-29,4.629425
943822,United Air Lines Inc.,2022-07-31,12.688534,2022-07-30,-4.716889
943823,United Air Lines Inc.,2022-07-31,12.688534,2022-07-31,4.626857